# build products
platforms/
lnInclude/
**/Make/linux*/
# external reference code (not part of this project)
ibm_secondOrder
# tutorial cases: keep only mesh dictionaries, initial conditions and settings
tutorials/**/constant/polyMesh/
tutorials/**/log.*
tutorials/**/[1-9]*/
tutorials/**/0/ibm*
tutorials/**/0/C
tutorials/**/0/Cf
tutorials/**/0/Cx
tutorials/**/0/Cy
tutorials/**/0/Cz
tutorials/**/0/phi
tutorials/**/0/uniform/
tutorials/**/postProcessing/
tutorials/**/processor*/
# validation results
validation/*.npz
validation/*.log
validation/__pycache__/
# notebook clutter
.asset/fvm/.ipynb_checkpoints/
# local symlink to the notebook working directory (assets are copied to .asset/fvm)
/fvm
# LaTeX build products
doc/*.aux
doc/*.log
doc/*.out
doc/*.toc
doc/*.fls
doc/*.fdb_latexmk
doc/page-*.png
doc/montage.png
